 
.Tform{
    display: flex;
    
    padding: 1rem 1rem;
   
    margin: 0rem !important;
    
   
     border: 2px solid rgb(88, 82, 82); 
   /*  box-shadow: 0 0 40px rgba(8,7,16,0.6); */

   
}

.labl{
    display: block;
  
    margin-top: 1rem;
    font-size: .9rem;
    font-weight: 500;
}
.frminput{
   width: 22rem;
}


.bttn{
    background-color: rgb(5, 82, 250);
   border-radius: 20px !important; 
   
    width: 6rem;
    height: 2.5rem;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.bttn:hover{ background-color: rgba(101, 103, 122, 0.979) !important;}
.login{
    display: flex;
    justify-content: center;
    margin: 0;
    color: white;
    height: 45px;
    align-items: center;
    background-color: #170462;
    font-size: 1.1rem;
    font-weight: 500;}
    ::placeholder{
    font-size: .9rem;
    }
/* .pswd{}
*/