.pages {
    background-color: rgb(101, 101, 102);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(88, 86, 86);
    text-align: center;
  }