.container {
    width: 100%;
    padding-right: 0em;
    margin: 0em 0em 1em 0em;
    padding: 0em 0em 1em 0em;
    display: inline-block;
  }
  .search{
    cursor:pointer,
  }
  .btn{
    margin-right: 5px;
  }