.tableContainer{
    width:100% !important;
    height:max-content;
    display:table;
    padding:0em;
    margin:0em;
    display:inline-block;
    overflow:scroll;
    overflow-y: auto;
    overflow-x: auto;
    
    
}
.table{
    max-width:100% !important;
    overflow-x: auto;
    overflow-y : hidden;
    overflow: hidden;
}

.hoverclass{
     cursor: pointer;
     
}

.tableStyles{
    border-radius: .1;
}

.pagination{
    align-items: baseline;
    flex: none !important;
    padding: 0px;
}