
.formholder{
    align-items: center;
   width: 100%;
  margin: 1rem auto .1rem;
     display: flex;
       align-items: center; 
     align-content: center;
     min-height: 3.5rem;
     border-radius: 1rem;
     
       }
  
  
   .searchcontainertitle {
     width: 100%;
     background-color: #c4f10e;
     display: flex;
     justify-content: space-between;
     align-items: center; 
     align-content: center;
     min-height: 3.5rem;
     border-radius: 1rem;
       background: #f3f2f261;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
     transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition for a smooth effect */
     background-color: whitesmoke;
    }
   
   .searchcontainertitle:hover {
     background-color: rgb(255, 255, 255);
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  }
   
    
    .title{
     display: flex;
     align-items: center;
     font-size: .9rem;
     padding-left: 1rem;
      font-weight: 750;
     
      
  }
  
  .heading{margin:0px}
  .lebels{
    margin: 0px;
    font-size: .80rem;
  }
  
  .formBorder {
   border: none;
   border-bottom: 1px solid black;
   outline: none;
   margin-bottom: 1px;
   width: 6rem;
   border-radius: 0%;
   font-size: .75rem;
   background-color: transparent;
   padding: 0px;
   margin: 0px;
  }
  
  .formBorder:focus {
   border: none;
   border-bottom: 1px solid rgb(119, 118, 117);
   border: none;
   outline: none; /* Remove any additional outline */
   box-shadow: none; /* Remove any additional box-shadow */
   background-color: transparent; /* Optional: Add background color on focus if needed */
  }
  /* Existing styles... */
  
  
  
  
  .uiconBg{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 30px;
   border-radius: 50%;
  }
  .uicon {
   background-color: #efe4b0;
   border: 0;
   outline: 0;
   width: inherit;
   border-radius: 50%;
  }
  .uname{
   margin: 0;
  }
  .rightnav{
    width: 20%;
    display: flex;justify-content: space-around;
  align-items: center;}
  .usericon{padding: 0}
  
  
  .flexrowise{ width: 20%;
    display: flex;justify-content: space-around;
  align-items: center;}
  .btn{
     
     width:max-content;
     display: flex;
   
    font-size: .5rem;
     margin-left: .75rem;
  }
  
  
  .header{
     font-size: 1rem;
  }
  
  
  .btnextra{
     margin-top: 30px;
  }
  
  .btn{
     
     width:max-content;
     display: flex;
   
    
     margin-left: .5rem;
  }
  
  
  
  
  @keyframes fillContainer {
   0% {
     width: 0;
     background-color: #1c1c1d8a;
   }
   35% {
     width: 95%;
     background-color: rgba(135, 135, 137, 0.527);
   }
   100% {
     width: 100%;
   }
  }
  
  .searchcontainerbox {
   display: flex;
      justify-content: space-evenly;
   align-items: center;
   background: rgba(92, 102, 249, 0);
   /*animation: fillContainer .5s ease-in-out; */
 /*  transition: background-color 0.5s ease-in-out;Add a transition for background-color */
  }
  
  .searchtextbox{
  
   background: rgba(59, 49, 54, 0);
   }
   .formbutton{
     display: flex;
     
     margin-left: 2rem;
     background: rgba(255, 255, 0, 0);
    
    
   }
  
   
  
  .searchWrapper {
   padding-right: 1rem;
  }
  
  
  .extand {
   width: 10rem;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 0.75rem;
   background: #ccdff0;
   background-repeat: no-repeat;
   /*transition: width 0.4s ease-in-out; */
  }
  
  .extand:focus {
   width: 10rem;
   background: white;
  }
  
  .addButton{
    align-content: right;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: .85rem;
    text-size-adjust: 8px;
    margin-left: 1rem;
    height: 1.5rem;
  padding: 0% .25rem;
  font-weight: 900;
  
  
  
    }
.userAdminIcon{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.normalContainer{
  display: flex;
  align-items: center;
}
    @media only screen and (max-width: 600px) {
      .searchcontainertitle{display: flex;
    justify-content: flex-end;
    align-items: start;
  padding: 1rem 0;}
      .searchcontainerbox {
        flex-direction: column;
        justify-self: start;
        justify-content: flex-start;
        align-items: space-around; /* Corrected value */
        width: 50%;
    }
    
      .title {
display: none;
padding: 0;
      }
      .formbutton{display: flex;
      justify-content: space-around;
      margin-left: 0rem;
      margin: 0;padding: 0;
      margin-top: 1rem;
      }
      .btn{margin: 0;
      margin-left: .5rem;}


  .uiconBg{
    height: 25px;
    width: 25px;
    border-radius: 50%;
   }
/*.rightnav{
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items:flex-end;
   width: 50%;
   height: 100%;
   } */
  .flexrowise{display: flex;
  flex-direction: row;
  width: 100%;

justify-content: space-around;
align-items: center;}
.rightnav{display: flex;
  flex-direction: row;
  width: 90%;

justify-content: space-between;
align-items: center;}
.searchbaricon{display: flex;
align-items: center;}
.buttonArea{width: 100%;
  align-items: center;
display: flex;
justify-content: space-between;


}
   .userAdminIcon{width: 100%;
  }
  .containerClass{
    width: 100%;
  }
   .addButton {
    max-width: 6ch; /* Limit to 3 characters */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block; 
  }

  .buttonArHide{
    display: none;
  }
    }